 <nav>
        <img src="Wildlife-Explorer.png" style="width: 6rem; height: 6rem;"> 
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times"  onclick="hideMenu()"></i>
          <ul>
            <li><a href="\home">Home</a></li>
            <li><a href="\about">About</a></li>
            <li><a href="\Blog">Blog</a></li>
            <li><a href="\Course">Course</a></li>
            <li><a href="\Contact">Contact</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
